* {
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.button {
  position: relative;
  border: 1px solid gray;

  &.active {
    background: black;
    color: white;
  }

  &:hover .tooltip {
    display: block;
    animation: fadeInFromNone 0.5s ease-out;
  }
}

.button-group {
  display: inline-block;

  & + .button-group {
    margin-left: 0.5em;
  }
}

.field {
  & label,
  & input:not([type='checkbox']),
  & select {
    display: block;
  }
}

.panel {
  border: 1px solid black;

  &.collapsed .panel-body {
    display: none;
  }

  & + .panel {
    margin-top: 1em;
  }
}

.panel-header {
  padding: 1em;
  background: #ddd;

  &.clickable:hover {
    text-decoration: underline;
  }
}

.panel-body {
  border-top: 1px solid black;
  padding: 1em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  display: inline-block;
  border: 1px solid black;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 0.25em;
}

.modal-header button {
  float: right;
}

.modal-title {
  display: inline-block;
  margin: 0;
}

.modal-footer {
  text-align: right;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.25em;
  border: 1px solid cornflowerblue;
  background-color: lightblue;
  border-radius: 0.25em;
}

.message-body {
  flex-grow: 1;
}

.message-close {
  margin-left: 0.25em;
  border: none;
  background: none;
  color: cornflowerblue;
  opacity: 0.7;
  font-size: 120%;
  font-weight: bold;

  &:hover {
    opacity: 1;
  }
}

.tooltip {
  background: black;
  color: white;
  border-radius: 0.25em;
  position: absolute;
  padding: 0.5em;
  display: none;
  opacity: 0.8;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
  }

  &.top,
  &.top:before,
  &.bottom,
  &.bottom:before {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.left,
  &.left:before,
  &.right,
  &.right:before {
    top: 50%;
    transform: translate(0, -50%);
  }

  &.top {
    bottom: 100%;
    margin-bottom: 0.5em;

    &:before {
      bottom: -0.4em;
      border-bottom-width: 0;
      border-top-color: black;
    }
  }

  &.bottom {
    top: 100%;
    margin-top: 0.5em;

    &:before {
      top: -0.4em;
      border-top-width: 0;
      border-bottom-color: black;
    }
  }

  &.right {
    left: 100%;
    margin-left: 0.5em;

    &:before {
      left: -0.4em;
      border-left-width: 0;
      border-right-color: black;
    }
  }

  &.left {
    right: 100%;
    margin-right: 0.5em;

    &:before {
      right: -0.4em;
      border-right-width: 0;
      border-left-color: black;
    }
  }
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  50% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 0.8;
  }
}
