header {
  border-bottom: 1px solid black;

  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

.header-logo {
  display: inline-block;
  float: left;
  padding: 0.25em 1em;

  & img {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
  }
}

.navigation {
  display: inline-block;
}

.navigation-main {
  float: left;
}

.navigation-help {
  float: right;
}

.navigation-item {
  display: inline-block;
  padding: 0.5em 1em;

  &.active {
    background: darkblue;
    color: white;
  }
}

.toolbar {
  float: left;
}
