.field[class*="field-audio-volume-"] {
  display: inline-block;
  text-align: center;

  & input {
    transform: rotate(-90deg);
    margin: 50% 0%;
  }
}

.reset-row {
  display: table-row;

  & > * {
    display: table-cell;
    padding: 0.5em;
  }
}

.controls {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.controls label {
  padding-right: 1em;
}

.controls-inputs {
  display: table;
  padding: 0.5em;
}

.controls-inputs-row {
  display: table-row;

  & > * {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
}

.device-input {
  font-weight: bold;
  text-align: right;
}

.source-inputs {
}

.source-input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25em;

  & > .fa {
    padding-left: 0.25em;
  }

  & span {
    padding: 0 0.25em;
  }

  & button {
    border: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 0.25em;
    opacity: 0.5;
  }

  &:hover button {
    background: #ddd;
    border: 1px solid #888;
    opacity: 1;
  }

  & + .source-input {
    margin-left: 0.25em;
  }
}

.add-input {
}
