.field[class*="field-audio-volume-"] {
  display: inline-block;
  text-align: center;

  & input {
    transform: rotate(-90deg);
    margin: 50% 0%;
  }
}

.reset-row {
  display: table-row;

  & > * {
    display: table-cell;
    padding: 0.5em;
  }
}
