{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 7,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__LOG_LEVEL__": true
  }
}
