header {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  border-bottom: 1px solid black;

  & .toolbar {
    margin: 0 1em;
  }
}

.header-logo {
  text-decoration: none;
  padding: 0 1em 0 0.5em;

  & img {
    width: 2em;
    vertical-align: middle;
  }
}

.navigation-link {
  display: inline-block;
  padding: 0.5em 1em;

  &.active {
    background: darkblue;
    color: white;
  }
}

.navigation-help {
  margin-left: auto;
}
