header {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  border-bottom: 1px solid black;

  @nest .light-theme & {
    background: white;
  }

  @nest .dark-theme & {
    background: #333;
  }

  & .toolbar {
    margin: 0 1em;
  }
}

#header-logo {
  text-decoration: none;
  padding: 0 1em 0 0.5em;

  & img {
    width: 2em;
    vertical-align: middle;
  }
}

#theme-switch {
  margin-left: auto;
  margin-right: 1em;
}
