.nav-link {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;

  &.active {
    background: #ddd;
  }

  @media (min-width: 600px) {
    &:hover .nav-link-tooltip {
      display: none;
    }
  }
}

.nav-link-label {
  display: none;

  @media (min-width: 600px) {
    display: initial;
  }
}
