.nav-link {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;

  &.active {
    background: darkblue;
    color: white;
  }

  @media (min-width: 600px) {
    &:hover .nav-link-tooltip {
      display: none;
    }
  }
}

.nav-link-label {
  display: none;

  @media (min-width: 600px) {
    display: initial;
  }
}
