.button {
  position: relative;
  border: 1px solid gray;

  &.active {
    background: black;
    color: white;
  }

  &:hover .tooltip {
    display: block;
  }

  &:focus {
    outline: none;
    border-color: blue;
  }
}
