.message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.25em;
  border: 1px solid cornflowerblue;
  background-color: lightblue;
  border-radius: 0.25em;
}

.message-body {
  flex-grow: 1;
}

.message-close {
  margin-left: 0.25em;
  border: none;
  background: none;
  color: cornflowerblue;
  opacity: 0.7;
  font-size: 120%;
  font-weight: bold;

  &:hover {
    opacity: 1;
  }
}
