.tooltip {
  background: black;
  color: white;
  border-radius: 0.25em;
  position: absolute;
  padding: 0.5em;
  display: none;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
  }

  &.top,
  &.top::before,
  &.bottom,
  &.bottom::before {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.left,
  &.left::before,
  &.right,
  &.right::before {
    top: 50%;
    transform: translate(0, -50%);
  }

  &.top {
    bottom: 100%;
    margin-bottom: 0.5em;
  }

  &.top::before {
    bottom: -0.4em;
    border-bottom-width: 0;
    border-top-color: black;
  }

  &.bottom {
    top: 100%;
    margin-top: 0.5em;
  }

  &.bottom::before {
    top: -0.4em;
    border-top-width: 0;
    border-bottom-color: black;
  }

  &.right {
    left: 100%;
    margin-left: 0.5em;
  }

  &.right::before {
    left: -0.4em;
    border-left-width: 0;
    border-right-color: black;
  }

  &.left {
    right: 100%;
    margin-right: 0.5em;
  }

  &.left::before {
    right: -0.4em;
    border-right-width: 0;
    border-left-color: black;
  }
}
