.library-item {
  display: inline-block;
  vertical-align: top;
  width: 6rem;
  margin: 0.5rem;
}

.library-item-thumbnail {
  width: 6rem;
}

.library-item-name {
  white-space: normal;
  text-align: center;
}
