.field[class*="field-audio-volume-"] {
  display: inline-block;
  text-align: center;

  & input {
    transform: rotate(-90deg);
    margin: 50% 0%;
  }
}

.reset-button {
  display: inline-block;
  min-width: 8em;
  padding: 0.5em 0;
}

.reset-description {
  display: inline-block;
  max-width: 30em;
  padding: 0.5em 0;
  vertical-align: middle;
}

.controls {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.controls label {
  padding-right: 1em;
}

.controls-inputs {
  display: table;
  padding: 0.5em;
}

.controls-inputs-row {
  display: table-row;

  & > * {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
}

.device-input {
  font-weight: bold;
  text-align: right;
}

.source-input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  white-space: nowrap;
  margin-right: 0.25em;

  & > .fa {
    padding-left: 0.25em;
  }

  & > span {
    padding: 0 0.25em;
  }

  & > button {
    background: none;
    border: 1px solid transparent;
    border-radius: 0.25em;
    opacity: 0.5;
  }

  &:hover button {
    background: #ddd;
    border: 1px solid #888;
    opacity: 1;
  }
}

#controls-visible,
.controls-defaults,
.gamepad-list {
  margin-top: 1em;
}

.gamepad-map-button + .gamepad-map-button::before {
  content: "/";
  display: inline-block;
  text-decoration: none !important;
  margin: 0 0.25em;
}
