.emulator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.emulator-error {
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
}

.emulator-controls {
  position: absolute;
  top: 0;
  left: 0;
}

.emulator-output {
  align-self: center;
}

#emulator-file {
  display: none;
}

.fps-counter {
  display: inline-block;
  margin-left: 1em;
}
