.volume-control {
  position: relative;
}

.volume-control-icon {
  &.fa-stack {
    width: 1rem;
    height: 1rem;
    line-height: 1;
  }

  & .fa-ban {
    color: red;
  }
}

.volume-control-popup {
  top: 100%;
  left: 50%;
  margin-top: 0.5rem;
  transform: translate(-50%, 0);

  & input[type="range"] {
    transform: rotate(-90deg);
    margin: 50% 0%;
  }
}
